body {
    background-color:lightblue;
}

h1{
    font: bold italic 40px calibri light;
    color:#3b3b3b;
}

h2{
    font: bold 18px times; 
    color:#3b3b3b;
}

h3{
    font: bold 14px calibri light;
    color: #3b3b3b
}

a{
    font: italic 18px calibri light; 
    text-decoration: none;
}